.game_grid {
    display: grid;

    border: 5px solid rgb(100, 100, 100);
    border-radius: 30px;

    grid-template-columns: repeat(3, minmax(min-content, min-content));
    grid-template-rows: repeat(3, minmax(min-content, min-content));
    max-width: min-content;
    max-height: min-content;

    gap: 50px;
    padding: 50px;
}

.player_grid {
    display: grid;

    border: 5px solid rgb(100, 100, 100);
    border-radius: 20px;

    grid-template-columns: repeat(5, 100px);
    grid-auto-rows: 100px;
    gap: 10px;
    padding: 10px;
}

.game_cells {
    display: block;

    min-width: 100px;
    min-height: 100px;

    border: 5px solid rgb(100, 100, 100);
    border-radius: 10px;

    text-align: center;

}

.market_cells {

    display: block;

    min-width: 200px;
    min-height: 200px;

    border: 5px solid rgb(100, 100, 100);

    margin: 10px;

}

.market .my_scroll {
    align-items: center;
    color: red;
}

.bag .my_scroll {
    align-items: center;
    color: red;
}