* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

:root {
    --main-border-color: rgba(100, 100, 100, 0.5);
}

::-webkit-scrollbar-track { 
    background: rgb(221, 221, 221);
    margin: 15px;
    border-radius: 10px;
    border: 6px solid rgba(255, 255, 255, 0.05);
    background-clip: content-box;
    
}

::-webkit-scrollbar-thumb {
    background: rgb(103, 103, 103);
    border: 4px solid rgb(255, 255, 255);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: rgb(0, 0, 0);
} 

::-webkit-scrollbar-corner {
    border-radius: 1px;
}

body {
    background: radial-gradient(ellipse at top, #2b2b2b 0%, #000000 50%, transparent), 
    radial-gradient(ellipse at bottom, #2b2b2b 0%, #000000 50%, transparent), 
    radial-gradient(ellipse at left, #2b2b2b 0%, #000000 50%, transparent),
    radial-gradient(ellipse at top, #2b2b2b 0%, #000000 50%, transparent);
}

.back {
    display: flex;
    flex-direction: column;
    background: rgb(20, 20, 20);
    border: 5px solid var(--main-border-color)  rgba(100, 100, 100, 0.5);
    border-radius: 20px;
    color: #fff;
    margin: 1% 1%;

    min-width: 1080px;
    min-height: 1920px;
    height: 100vh;
}

.menu_wrapper {
    display: flex;
    flex-direction: column;
}

.resources_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    overflow-x: auto;

    /* max-width: 95%; */
    max-height: 60px;
    /* width: auto; */

    /* min-width: 95%; */
    min-height: 40px;

    margin: 0px 2.5% 0px;

    border: 5px solid rgba(100, 100, 100, 0.5);
    border-radius: 10px;

    padding: 3px 5px;
    backdrop-filter: blur(10px);

}

.resources {
    display: flex;

    justify-content: flex-start;
    align-items: center;

    max-height: 30px;
    flex-basis: 100%;

    padding-right: 5px;

    border: 1px solid rgba(100, 100, 100, 0.5);
}

.resources_image {
    height: 80%;

    margin-right: 5px;
    margin-left: 5px;
    
}

.basic_menu_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* background: rgb(20, 20, 20); */
    color: #fff;
    margin: 20px 2.5% 10px;

    width: 95%;
    backdrop-filter: blur(10px);
}

.scroll_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    width: 70%;
    align-items: center;
    border: 5px solid rgba(100, 100, 100, 0.5);
    border-radius: 10px;
}

.user_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    width: 28%;
    
    border: 5px solid rgba(100, 100, 100, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.user_info_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    padding: 0 0 0 10px;
}

.user_image_wrapper {
    display: flex;
    
    text-align: center;
    max-width: 50%;

    border-left: 5px solid rgba(100, 100, 100, 0.5);
    border-right: 5px solid rgba(100, 100, 100, 0.5);
    border-radius: 50px;
}

.user_image {
    max-width: 100px;
    /* height: 100px; */

}

.my_scroll {
    display: flex;
    overflow-x: auto;
    

    padding: 5px 5px;
    border-radius: 10px;
}

.my_scroll li {
    background-color: #fff;
    color: #000;
    display: inline;
    text-align: center;
    padding: 20px 10px;
    white-space: nowrap;
    border: 5px solid rgba(100, 100, 100, 0.5);
    border-radius: 10px;
    user-select: none;
}

    .my_scroll li:hover {
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }

.scroll_bar_menu .my_scroll{
    height: 100%;
}

.scroll_bar_menu .my_scroll div {
    background-color: #fff;
    color: #000;

    display: block;
    text-align: center;

    margin: 0px 5px 0px 5px;
    
    white-space: nowrap;
    border: 5px solid rgba(100, 100, 100. 0.5);
    border-radius: 10px;

    min-width: 150px;
    min-height: 25px;

}

    .scroll_bar_menu .my_scroll div:hover {
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }


.main {
    flex: 1 0 auto;
    border: 5px solid rgba(100, 100, 100, 0.5);
    background: #555;
    color: #fff;
    margin: 10px 2.5% 2.5%;
    position: relative;
    border-radius: 20px;

    max-width: 95%;
    height: 0;
}

.game_window {
    
    flex: 1 0 auto;
    overflow: auto;

    min-height: 100%;
    max-width: 100%;

    height: 0px;
    
    background: #555;
    border-radius: 20px;
    align-items: stretch;
}



.game { 
    position: relative;
    
    min-width: fit-content;
    min-height: 100% !important;
    max-width: 100%;

    width: 100%;
    
}

.game_back {
    position: absolute;

    background: rgb(0, 0, 0);
    background-size: 200px;
    animation: back_glowing 20s infinite;

    width: 100%;
    height: 100%;

    z-index: 1;
}

.game_elements {
    position: relative;
    z-index: 2;
    padding: 100px;
}

@keyframes back_glowing {
    0% { -webkit-filter: brightness(1);}
    20% { -webkit-filter: brightness(0.9);}
    40% { -webkit-filter: brightness(1.2);}
    50% { -webkit-filter: brightness(2);}
    60% { -webkit-filter: brightness(1.2);}
    80% { -webkit-filter: brightness(0.9);}
    100% { -webkit-filter: brightness(1);}
}

.menu_bar {
    display: flex;
    position: absolute;
    z-index: 100;
    min-height: 97%;

    margin-left: auto;
    left: 0;
}

.bar {
    display: flex;
    min-height: 100%;
    max-width: 0;
    overflow: hidden;

    transition: max-width 0.2s ease-out;
}

.left_bar {
    
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 5px solid rgb(100, 100, 100);
    border-radius: 16px;
    max-width: 100%;
    backdrop-filter: blur(10px);
}

.right_bar {

    align-items: center;
    margin-top: 100px;

    flex-direction: column;
    
    width: 300px;
    border: 5px solid rgb(100, 100, 100);
    border-radius: 16px;
    max-width: 100%;
    backdrop-filter: blur(10px);
}

.slider {
    border-radius: 10px;
}

.collapse_button {
    display: flex;

    align-items: center;
    justify-content: center;

    align-self: center;

    border: 5px solid rgb(100, 100, 100);
    border-radius: 20px;

    background: rgb(88, 88, 88);
    
    width: 30px;
    height: 60px;
    
    font-size: 20px;
    
}

.collapse_button:hover {
    cursor: pointer;
}

.scroll_bar_menu {
    border-bottom: 5px solid rgb(100, 100, 100);
    height: 105px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.scroll_bar_menu .my_scroll{
    border-spacing: 10px 5px;
}

.view_menu {

    flex: 1 0 auto;
    width: 100%;
    height: 0;
    margin: 2.5% 2.5%;

    border-radius: 10px;
}

.view_menu .my_scroll{
    align-items: center;
    min-height: 100%;
    height: 0;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: visible;
}



.my_button {
    text-align: center;
    width: 80%;

    border-radius: 20px;
    border: 4px solid rgb(100, 100, 100);

    margin-bottom: 10px;

    padding: 5px 10px;

    background: linear-gradient(to left, #161616, #3d3d3d, #161616);

}

.my_button[disabled] {
    pointer-events: none;
    color: #000000;
    border-color: linear-gradient(135deg, #5c5c5c, #242424, #000000);
}



.my_button:hover {
    cursor: pointer;

    background: linear-gradient(to left, #161616, #7c7c7c, #161616);
}



  