* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background: radial-gradient(ellipse at top, #2b2b2b 0%, #000000 50%, transparent), 
    radial-gradient(ellipse at bottom, #2b2b2b 0%, #000000 50%, transparent), 
    radial-gradient(ellipse at left, #2b2b2b 0%, #000000 50%, transparent),
    radial-gradient(ellipse at top, #2b2b2b 0%, #000000 50%, transparent);
}

.back {
    display: flex;
    flex-direction: column;
    background: rgb(20, 20, 20);
    border: 5px solid rgb(100, 100, 100);
    border-radius: 20px;
    color: #fff;
    margin: 1% 1%;

    min-width: 800px;
    min-height: 800px;
    height: 100vh;
}

.menu-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: rgb(20, 20, 20);
    color: #fff;
    margin: 20px 2.5% 10px;

    width: 95%;
}

.scroll_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    width: 70%;
    align-items: center;
    border: 5px solid rgb(100, 100, 100);
    border-radius: 10px;
}

.user_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    width: 28%;
    
    border: 5px solid rgb(100, 100, 100);
    border-radius: 10px;
}

.user_info_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60%;
}

.user_image_wrapper {
    display: flex;
    
    text-align: center;
    max-width: 40%;

    border-left: 5px solid rgb(100, 100, 100);
    border-right: 5px solid rgb(100, 100, 100);
    border-radius: 50px;

    text-align: center;
}

.user_image {
    max-width: 100%;
    content:url("prow_image.png");
}

.my_scroll {
    display: flex;
    overflow-x: auto;
    cursor: grab;

    padding: 5px 5px;
    border-radius: 10px;
}

.my_scroll li {
    background-color: #fff;
    color: #000;
    display: inline;
    text-align: center;
    padding: 20px 10px;
    white-space: nowrap;
    border: 5px solid rgb(100, 100, 100);
    border-radius: 10px;
    user-select: none;
}

    .my_scroll li:hover {
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }

.main {
    flex: 1 0 auto;
    border: 5px solid rgb(100, 100, 100);
    background: #555;
    color: #fff;
    margin: 10px 2.5% 2.5%;
    position: relative;
    border-radius: 20px;
    height: 0;
}

.game_window {
    flex: 1 0 auto;
    overflow: scroll;
    min-height: 100%;
    height: 0;
    background: #555;
    border-radius: 20px;
}

.game {
    background: rgb(0, 0, 0);
    min-width: 3000px;
    min-height: 100%;
    height: 2000px;
    background-image: url("791455802.jpg");
    background-size: 200px;
    animation: back_glowing 20s infinite;
    border-radius: 20px;
}

@keyframes back_glowing {
    0% { -webkit-filter: brightness(1);}
    20% { -webkit-filter: brightness(0.9);}
    40% { -webkit-filter: brightness(1.2);}
    50% { -webkit-filter: brightness(2);}
    60% { -webkit-filter: brightness(1.2);}
    80% { -webkit-filter: brightness(0.9);}
    100% { -webkit-filter: brightness(1);}
}

.menu_bar {
    display: flex;
    position: absolute;
    z-index: 100;
    min-height: 100%;
}

.bar {
    display: flex;
    min-height: 100%;
    max-width: 0;
    overflow: hidden;

    transition: max-width 0.2s ease-out;
}

.left-bar {
    background: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 5px solid rgb(100, 100, 100);
    border-radius: 16px;
    max-width: 100%;
}

.right-bar {
    margin-top: 100px;
    background: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 5px solid rgb(100, 100, 100);
    border-radius: 16px;
    max-width: 100%;
}

.slider {
    border-radius: 10px;
}

.collapse_button {
    display: flex;

    align-items: center;
    justify-content: center;

    align-self: center;

    border: 5px solid rgb(100, 100, 100);
    border-radius: 20px;

    background: rgb(88, 88, 88);
    
    width: 30px;
    height: 60px;
    
    font-size: 20px;
    
}

.collapse_button:hover {
    cursor: pointer;
}

.scroll_bar_menu {
    border-bottom: 5px solid rgb(100, 100, 100);
    height: 105px;
    background: rgb(20, 20, 20);
    border-radius: 10px;
}

.scroll_bar_menu ul{
    border-spacing: 10px 5px;
}

.view_menu {
    background: rgb(20, 20, 20);
    flex: 1 0 auto;
    height: 0;
    margin: 2.5% 2.5%;

    border-radius: 10px;
}

.view_menu ul{
    min-height: 100%;
    height: 0;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: visible;
}

  