.my-button {
    
    border: 2px solid;
    
    border-image-slice: 1;
    border-image-source: linear-gradient(135deg, #83e2ff, #0070da, #000e8d);

    padding: 5px 10px;

    background: linear-gradient(to left, #161616, #3d3d3d, #161616);
    color: #00b7ff;
}

.my-button:hover {
    cursor: pointer;

    background: linear-gradient(to left, #161616, #7c7c7c, #161616);
    animation: my_butt_anim linear 5s infinite; 
}

@keyframes my_butt_anim {
    0% {border-image-source: linear-gradient(135deg, #83e2ff, #0070da, #000e8d);}

    25% {border-image-source: linear-gradient(135deg, #000e8d, #83e2ff, #0070da );}

    50% {border-image-source: linear-gradient(135deg, #0070da, #000e8d, #83e2ff );}

    75% {border-image-source: linear-gradient(135deg, #000e8d, #83e2ff, #0070da );}

    100% {border-image-source: linear-gradient(135deg, #83e2ff, #0070da, #000e8d);}

}
